body {
  background-color: #efeeef;
  color: black;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  text-decoration: none;
  color: #002b5b;
  width: 80%;
  margin: auto;
  cursor: pointer;
}

/* table */
.section {
  display: flex;
  justify-content: center;
  /* padding: 100px; */
}

button {
  color: #256d85;
  width: 95px;
  background-color: #f6f6f6;
  /* background-color: #701c1c; */
  padding: 25px 25px;
  text-align: center;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
button:hover {
  cursor: pointer;
  background-color: #f0eeee;
}
button:active {
  background-color: rgb(236, 234, 234);
}

tr {
  display: flex;
  justify-content: space-around;
}

table {
  cursor: pointer;

  background-color: #f9f9f9;
  font-size: 30px;
  width: 25%;
  border-radius: 10px;
}

.red {
  color: #06283d;
  font-weight: 500;
  font-size: 25px;
}

.blue {
  color: #8fe3cf;
  font-weight: 500;
  font-size: 25px;
}

/* display */
.display {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-color: white;
  height: 200px;
  width: 25%;
  margin: auto;
  border-radius: 10px;
  padding: 40px 10px;
  font-size: 25px;
  font-weight: bold;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
  overflow-x: auto;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: #355764;
}
.twitter {
  text-decoration: none;
  color: #5a8f7b;
}
.twitter:hover {
  text-decoration: underline;
}

.moon,
.sun {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.dark-mode-table {
  background-color: #2a2d37;
}
.dark-mode-button {
  background-color: #1f3036;
}
.dark-mode-table {
  background-color: #212f34;
}
.dark-mode-red {
  color: white;
}
.dark-mode-body {
  background-color: #242525;
}
.dark-mode-button:hover {
  background-color: #182529;
}
.sun {
  color: white;
}
.dark-mode-header {
  color: wheat;
}
.dark-mode-display {
  color: white;
  background-color: #1f3036;
}

/* FEFFFE white
F9F9F9 grey
CF8D8A red
80EFDA blue
22252D black */
